template(name="ooPanel")
  div(oo-Panel="{{oo}}" oo-Color="{{ooColor}}" class="{{isOpen}}" id="{{id}}" style="{{style}}")
    +Template.contentBlock
  if backdrop
    .ooPanel--Backdrop.js-closePanel.no-drag.no-wheel
